<% provide(:title, "Category") %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2 id="category_title">Category</h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <%= link_to 'home', potepan_path %>
            </li>
            <li>
              <a href="#">shop</a>
            </li>
            <li class="active">Category name</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <div class="panel panel-default">
            <div class="panel-heading">商品カテゴリー</div>
            <div class="panel-body">
              <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                <ul class="nav navbar-nav side-nav">
                  <%= render partial: 'potepan/categories/categories', collection: @taxonomies, as: :taxonomy %>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default filterNormal">
            <div class="panel-heading">色から探す</div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><a href="#">ブラック<span>(15)</span></a></li>
                <li><a href="#">ホワイト<span>(10)</span></a></li>
                <li><a href="#">レッド<span>(7)</span></a></li>
                <li><a href="#">ブルー<span>(12)</span></a></li>
                <li><a href="#">オレンジ<span>(12)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default filterNormal">
            <div class="panel-heading">サイズから探す</div>
            <div class="panel-body">
              <ul class="list-unstyled clearfix">
                <li><a href="#">S<span>(15)</span></a></li>
                <li><a href="#">M<span>(10)</span></a></li>
                <li><a href="#">L<span>(7)</span></a></li>
                <li><a href="#">XL<span>(12)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <div class="col-xs-6">
              <select name="guiest_id1" id="guiest_id1" class="select-drop">
                <option value="0">並び替え</option>
                <option value="1">人気順</option>
                <option value="2">安い順</option>
                <option value="3">新着順</option>
                <option value="3">高い順</option>
              </select>
            </div>
            <div class="col-xs-6">
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
                <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
              </div>
            </div>
          </div>
          <div class="row" id="pruducts_in_category">
            <% if @products.present? %>
              <%= render partial: 'potepan/categories/products_in_category', collection: @products, as: :product %>
            <% else %>
              <div class="no_item">
                <h2>NO Items....</h2>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="owl-carousel partnersLogoSlider">
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-01.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-02.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-03.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-04.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-05.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-01.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-02.png", :alt => "partner-img") %>
              </div>
            </div>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-03.png", :alt => "partner-img") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>