<li>
  <a href="javascript:;" data-toggle="collapse" data-target=<%= "##{taxonomy.id}" %>><%= taxonomy.name %><i class="fa fa-plus"></i></a>
  <ul id=<%= "#{taxonomy.id}" %> class="collapse collapseItem">
    <% if taxonomy.root.children.present? %>
      <% taxonomy.root.children.each do |taxon| %>
        <li>
          <%= link_to potepan_category_path(taxon.id) do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %><span>(<%= taxon.all_products.size %>)</span>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li>
        <%= link_to '#' do %>
          <i class="fa fa-caret-right" aria-hidden="true"></i>none<span>(0)</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>