<select name="guiest_id1" id="guiest_id1" class="select-drop">
  <option value="0" id="sort">並び替え</option>
  <option value="descend_by_available" id="sort">新着順</option>
  <option value="ascend_by_available" id="sort">古い順</option>
  <option value="descend_by_price" id="sort">高い順</option>
  <option value="ascend_by_price" id="sort">安い順</option>
</select>