<% provide(:title, "#{@category} - Category") %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2 id="category_title"><%= @category %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <%= link_to 'home', potepan_path %>
            </li>
            <li>
              <a href="#">shop</a>
            </li>
            <li class="active"><%= @category %></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'potepan/categories/category_lists' %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <div class="col-xs-6">
              <%= render "potepan/categories/sort_list" %>
            </div>
            <div class="col-xs-6">
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
                <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
              </div>
            </div>
          </div>
          <div class="row" id="pruducts_in_category">
            <% if @products.present? %>
              <%= render partial: 'potepan/categories/products_in_category', collection: @products, as: :product %>
            <% else %>
              <div class="no_items">
                <h2>NO Items....</h2>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix">
     <%= render 'potepan/categories/blands_slide' %>
  </section>
</div>